body{
  margin:0;
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

#status{
  padding:10px;
  font-size:20px;
  font-weight:bold;
}

#scores{
  margin-bottom:10px;
}

.row{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:18px;
  flex-wrap:wrap;
  margin:16px;
}

#hand,#opponentHand{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
  min-height:120px;
}

.card{
  width:70px;
  transition:0.2s;
  cursor:pointer;
}

.card.swapping{
  opacity:0.25;
}

.card:hover{
  transform:scale(1.08);
}

#deck,#discard{
  width:85px;
  height:110px;
  border:2px solid white;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#222;
  border-radius:8px;
}

#fxLayer{
  position:fixed;
  inset:0;
  pointer-events:none;
}

.flyingCard{
  position:absolute;
  width:80px;
  transition:0.5s ease;
  z-index:999;
}

.effectText{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:32px;
  font-weight:bold;
  animation:popFade 1s forwards;
}

@keyframes popFade{
  0%{opacity:0; transform:translate(-50%,-60%) scale(0.5);}
  50%{opacity:1; transform:translate(-50%,-50%) scale(1.2);}
  100%{opacity:0; transform:translate(-50%,-40%) scale(1);}
}